$font-title: 1.8rem;
$font-family: 0.8rem;
$font-general: 1.2rem;
$font-footer: 0.8rem;
$item-font-size: 1rem;
$menu-background: green;
$footer-background: #000;
$background_button: rgba(97, 255, 123, 0.75);
/* Agregar variables para los paddings top y otras variables más */
